/* Desktop */
@media (min-width: 768px) {

  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(188, 240, 220);
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
  }

  .top-content {
    /* Estilizando um novo contêiner */
    display: flex;
    flex: 1 1 100%;
    gap: 30px;
  }

  .top-content > article {
    flex: 1 1 60%; /* Permite que o article ocupe mais espaço */
    padding: 30px;
    background-color: rgb(210, 240, 240);
    border: 2px dotted rgb(215, 230, 230);
    border-radius: 5px;
  }

  article {
    display: flex;
    flex: 1; /* Permite que o article e o aside se dividam no .top-content */
    flex-direction: column;
    align-items: center;
  }

  .bottom-content {
    display: flex;
    flex-wrap: wrap; /* flex: 1 1 100%; funcionaria aqui para um item flex que quebra a linha */
    flex: 1; /* Permite que o article e o aside se dividam no .top-content */
    flex-direction: column;
    gap: 20px;
  }

  .bottom-content div h3 {
    width: 100%;
    padding-top: 60px;
    padding-left: 30px;
    font-size: 27px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: 2s;
  }

  .bottom-content div > p {
    display: flex;
    width: 70%;
    text-align: justify;
    margin-left: 30px;
    font-size: 22px;
  }

  .bottom-content .content-box__explain1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 1200px;
    background-color: aqua;
    gap: 50px;
    flex: 1;
  }

  .bottom-content .content-box__explain2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    gap: 50px;
    background-color: beige;
    flex: 1;
  }

  .bottom-content .content-box__explain3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    background-color: lightslategray;
    flex: 1;
    gap: 50px;
  }
}

/* Mobile */
@media (max-width: 468px) {
  main {
    padding: 20px;
  }

  article {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 216, 216);
    border-radius: 5px;
    padding: 10px;
  }

  article h2 {
    font-size: 25px;
  }

  footer p {
    text-align: center;
    color: dodgerblue;
  }
}
