/* General Styles */

/* Mobile */
@media (max-width: 468px) {
  main {
    padding: 20px;
  }

  article {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 216, 216);
    border-radius: 5px;
    padding: 10px;
  }

  article h2 {
    font-size: 25px;
  }

  footer p {
    text-align: center;
    color: dodgerblue;
  }
}
