/* Universal Selector*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: dodgerblue;
  padding: 20px;
  text-align: center;
}

header h1 {
  padding-top: 80px;
}

header img {
  width: 140px;
  margin: 20px;
  border-radius: 30px;
}

nav {
  background-color: beige;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  list-style: none;
  background-color: #1b5c70;
  gap: 20px;
}

nav ul li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #9cda94;
  border-left: 1px solid #9cda94;
}

nav ul li a {
  text-decoration: none;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  color: #9cda94;
}

nav ul li a:hover {
  color: rgb(49, 160, 160);
}

article {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(210, 240, 240);
  border: 2px dotted rgb(215, 230, 230);
  border-radius: 5px;
  flex-basis: 20%;
}

article > p {
  width: 70%;
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
}

article h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 2s;
}

article h2:hover {
  transition: 2s;
  color: rgb(202, 199, 149);
}

footer {
  display: flex;
  height: 300px;
  flex-direction: column;
  background-color: #333;
  padding: 40px;
}

footer p {
  text-align: center;
  color: dodgerblue;
}

footer p + p {
  padding-top: 40px;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: dodgerblue;
}
