/* Universal Selector*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: dodgerblue;
  padding: 20px;
  text-align: center;
}

header h1 {
  padding-top: 110px;
  font-size: 50px;
}

header img {
  width: 240px;
  margin: 20px;
  border-radius: 30px;
}

main {
  transition: margin-left 0.5s; /* Transição suave para o menu de navegação */
  padding: 20px; /* Espaçamento interno do main */
}

nav .sideNav {
  height: 100%; /* Altura total do menu de navegação */
  width: 0; /* Largura inicial do menu de navegação */
  top: 0; /* Alinhamento ao topo da página */
  z-index: 1; /* Colocando o menu acima de outros elementos */ 
  background-color: #cebaba; /* Cor de fundo do menu de navegação */
  position: fixed; /* Posição fixa para o menu de navegação */
  left: 0; /* Alinhamento à esquerda da página */
  overflow-x: hidden; /* Oculta o conteúdo que transborda horizontalmente */
  padding-top: 60px; /* Ocupação do espaço superior para o menu de navegação */
  transition: 0.5s; /* Transição suave para a largura do menu de navegação */
}

nav .sideNav > a {
  padding: 8px 8px 8px 32px; /* Espaçamento interno dos links do menu */
  text-decoration: none; /* Removendo o sublinhado dos links */
  font-size: 25px; /* Tamanho da fonte dos links */
  color: #818181; /* Cor dos links do menu */
  display: flex; /* Exibição em bloco para os links do menu */
  transition: 0.3s; /* Transição suave para a cor dos links */
}

nav .sideNav a:hover {
  color: #f1f1f1; /* Cor dos links ao passar o mouse */
}

nav .sideNav .closebtn {
  position: absolute; /* Posição absoluta para o botão de fechar */
  top: 20px; /* Alinhamento ao topo do menu */
  right: 25px; /* Alinhamento à direita do menu */
  font-size: 36px; /* Tamanho da fonte do botão de fechar */
  margin-left: 50px; /* Margem à esquerda do botão de fechar */
}
article {
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
  border-radius: 5px;
  flex: 1; /* Permite que o article e o aside se dividam no .top-content */
  flex-direction: column;
  align-items: center;
}

article > p {
  width: 70%;
  text-align: justify;
  font-size: 30px;
  margin-top: 20px;
}

article h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 2s;
}

article h2:hover {
  transition: 2s;
  color: rgb(202, 199, 149);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h3 {
  text-align: center;
  padding-bottom: 30px;
  padding: 20px;
}

section img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 5px;
}

footer {
  display: flex;
  height: 300px;
  flex-direction: column;
  background-color: #333;
  padding: 40px;
}

footer p {
  text-align: center;
  font-size: 30px;
  color: dodgerblue;
}

footer p + p {
  padding-top: 40px;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: dodgerblue;
}

/* Desktop */
@media (min-width: 768px) {
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(220, 243, 234);
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 20px; /* Espaçamento à direita do main */
  }

  .top-content {
    /* Estilizando um novo contêiner */
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
  }

  .top-content > article {
    flex: 1 1 60%; /* Permite que o article ocupe mais espaço */
    padding: 30px;
    border-radius: 5px;
  }

  .bottom-content {
    display: flex;
    flex-wrap: wrap; /* flex: 1 1 100%; funcionaria aqui para um item flex que quebra a linha */
    flex: 1; /* Permite que o article e o aside se dividam no .top-content */
    flex-direction: column;
    gap: 20px;
  }

  .bottom-content > div[class^="content-box__explain"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .bottom-content div h3 {
    width: 100%;
    padding-top: 60px;
    padding-left: 35px;
    font-size: 42px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: 2s;
  }

  .bottom-content div p {
    width: 70%;
    padding: 20px;
    padding-top: 30px;
    font-size: 30px;
    text-align: justify;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .bottom-content > div[class^="content-box__explain"] > img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 500px; /* Limita a largura máxima da imagem */
    padding: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  .bottom-content .content-box__explain1 {
    background-color: #9cda94;
  }

  .bottom-content .content-box__explain2 {
    background-color: cadetblue;
  }

  /* Estilizando os artigos dentro do .bottom-content do jeito normal 
  .bottom-content .content-box__explain1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1200px;
    gap: 50px;
    flex: 1;
  }

  .bottom-content .content-box__explain2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    flex: 1;
  }

  .bottom-content .content-box__explain3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    flex: 1;
    gap: 50px;
  } */
}
